rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Allow users to access their own products
    match /products/{productId} {
      allow create: if request.auth != null && request.resource.data.ownerId == request.auth.uid;
      allow read, update, delete: if request.auth != null && resource.data.ownerId == request.auth.uid;
    }

    // Allow users to access their own transactions
    match /transactions/{transactionId} {
      allow create: if request.auth != null && request.resource.data.ownerId == request.auth.uid;
      allow read, update, delete: if request.auth != null && resource.data.ownerId == request.auth.uid;
    }

    // Allow users to access their own profile
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
